<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mini Wordpress</title>

  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />  
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/brands.css" integrity="sha384-n9+6/aSqa9lBidZMRCQHTHKJscPq6NW4pCQBiMmHdUCvPN8ZOg2zJJTkC7WIezWv" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
  <link rel="stylesheet" href="css/vueWysiwyg.css">
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/vueWysiwyg.js"></script>
</head>
<body>
  <div id="app">
    <div id="header">
      <div class="navbar" id="nav-left">
        <i class="fab fa-wordpress"> My Site</i>
      </div>
      <div class="navbar">
        <b-button size="sm" v-on:click="showCreate" variant="light">Write</b-button>
        <i class="fas fa-user-circle"></i>
        <i class="fas fa-comments"></i>
      </div>
    </div>
 
    
    <!-- LEFT NAVBAR  -->
    <b-list-group id='navbar-left' class='list-group'>
      <b-list-group-item class="list-group-item" button><i class="fas fa-desktop"> View Site</i></b-list-group-item>
      <b-list-group-item class="list-group-item" button><i class="fas fa-align-left"> Blog Posts</i></b-list-group-item>
    </b-list-group>

    <!-- <div class="list-group list-group-flush" >
			<a href="#" class="list-group-item list-group-item-action"></a>
			<a href="#" class="list-group-item list-group-item-action"></a>
			<a href="#" class="list-group-item list-group-item-action"></a>
			<a href="#" class="list-group-item list-group-item-action"></a>
			Manage
			<a href="#" class="list-group-item list-group-item-action"><i class="fas fa-sticky-note"> Site Page</i></a>
			<a href="#" class="list-group-item list-group-item-action"><i class="fas fa-align-left"> Blog Posts</i></a>
			<a href="#" class="list-group-item list-group-item-action"><i class="fas fa-image"> Media</i></a>
			<a href="#" class="list-group-item list-group-item-action"><i class="fas fa-comments"> Comments</i></a>
			<a href="#" class="list-group-item list-group-item-action"><i class="fas fa-rss-square"> Feedback</i></a>
			<a href="#" class="list-group-item list-group-item-action"><i class="fas fa-plug"> Plugins</i></a>
			<a href="#" class="list-group-item list-group-item-action"><i class="fas fa-cloud-download-alt"> Import</i></a>
			Personalize
			<a href="#" class="list-group-item list-group-item-action"><i class="fas fa-tools"> Customize</i></a>
			Configure
			<a href="#" class="list-group-item list-group-item-action"><i class="fas fa-money-bill-alt"> Earn</i></a>
			<a href="#" class="list-group-item list-group-item-action"><i class="fas fa-project-diagram"> Sharing</i></a>
			<a href="#" class="list-group-item list-group-item-action"><i class="fas fa-user-alt"> People</i></a>
			<a href="#" class="list-group-item list-group-item-action"><i class="fas fa-globe"> Domains</i></a>
			<a href="#" class="list-group-item list-group-item-action"><i class="fas fa-cog"> Setting</i></a>
	  </div> -->

    <!-- MAIN -->
    <div id="container">
      <div class="rowRight" >
          <b-button-group >
              <b-button v-on:click="showPublished">Published</b-button>
              <b-button v-on:click="showDraft">Drafts</b-button>
            </b-button-group>

            <!-- <b-nav-form>
                <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
              </b-nav-form> -->

        <div id="search">
            <b-input id="inline-form-input-name" class="mb-2 mr-sm-2 mb-sm-0" v-model="titleSearch" placeholder="Title" v-if="isSearch=='true'" ></b-input>
          <i class="fas fa-search" v-on:click="showSearch"></i>
        </div>
      </div>


      <!-- <div class="card" v-if="statusShow=='1'" v-for="article in articlesPublish" >
        <div class="card-body" >
          <div class="headerCard">
            <h5 class="card-title">{{ article.title }}</h5>
            <div>
              <b-button v-on:click="editArticle(article._id, article.title, article.content, article.status)">Edit</b-button>
              <b-button v-on:click="actionDeleteArticle(article._id)">Delete</b-button>
            </div>
          </div>
          <div>
            <div class="card-text" v-html="article.content"></div>
          </div>
        </div>
      </div> -->
      

      <articles-publish v-bind:article-child='articlesPublish' v-bind:status-show='statusShow'>
      </articles-publish>


      <articles-draft v-bind:article-child='articlesDraft' v-bind:status-show='statusShow'>
      </articles-draft>

      
   

      <b-form id="formCreateArticle" v-if="statusShow=='3'" v-on:submit.prevent="addArticle" method="POST">
        <h3>Create Article</h3>
        <b-form-group id="input-group-1" label="Title Article :" label-for="title">
          <b-form-input id="title" type="email" placeholder="Title" required v-model="title" ></b-form-input>
        </b-form-group>
        
        <b-form-group id="input-group-2" label="Content :" label-for="content">
          <wysiwyg id="content" v-model="content"></wysiwyg>
        </b-form-group>

        <div>
          <b-form-group label="Status">
            <b-form-radio v-model="status" value="0">Draft</b-form-radio>
            <b-form-radio v-model="status" value="1">Published</b-form-radio>
          </b-form-group>
        </div>
        <b-button variant="success">Save</b-button>
      </b-form>

      
      <!-- <form id="formCreateArticle" v-if="statusShow=='3'" v-on:submit.prevent="addArticle" method="POST">
        <h3>Create Article</h3>

        <div class="form-group row" >
          <label for="title" class="col-sm-3 col-form-label">Title Article</label>

          <div class="col-sm-9">
          <input type="text" class="form-control" id="title" >
          </div>
        </div>

        <div class="form-group row">
          <label for="content" class="col-sm-3 col-form-label">Content</label>
          <div class="col-sm-9">
            <wysiwyg v-model="content"></wysiwyg>
          </div>
        </div>

        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-3 pt-0">Status</legend>
            <div class="col-sm-9">
              <div class="form-check">
              <input class="form-check-input" type="radio" v-model="status" id="gridRadios1" value="1" checked>
              <label class="form-check-label" for="gridRadios1">
                Published
              </label>
              </div>
              <div class="form-check">
              <input class="form-check-input" type="radio" v-model="status" id="gridRadios2" value="0">
              <label class="form-check-label" for="gridRadios2">
                Draft
              </label>
              </div>
          </div>
          </div>
        </fieldset>
        <div class="form-group row">
          <div class="col-sm-9">
          <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </form> -->
    

      <b-form id="formCreateArticle" v-if="statusShow=='4'" v-on:submit.prevent="actionEditArticle" method="POST">
        <h3>Create Article</h3>
        <b-form-group id="input-group-1" label="Title Article :" label-for="title">
          <b-form-input id="title" type="email" v-model="title" placeholder="Title" required ></b-form-input>
        </b-form-group>
        
        <b-form-group id="input-group-2" label="Content :" label-for="content">
          <wysiwyg id="content" v-model="content"></wysiwyg>
        </b-form-group>

        <div>
          <b-form-group label="Status">
            <b-form-radio v-model="status" value="0">Draft</b-form-radio>
            <b-form-radio v-model="status" value="1">Published</b-form-radio>
          </b-form-group>
        </div>
        <b-button variant="success">Save</b-button>
      </b-form>


    </div>
  </div>


      <!-- <form id="formEditArticle" v-if="statusShow=='4'" v-on:submit.prevent="actionEditArticle" method="POST">
          <h3>Edit Article</h3>
          <div class="form-group row" >
            <label for="title" class="col-sm-3 col-form-label">Title Article</label>
            <div class="col-sm-9">
            <input type="text" class="form-control" id="title" v-model="title" placeholder="Title">
            </div>
          </div>
          <div class="form-group row">
            <label for="content" class="col-sm-3 col-form-label">Content</label>
            <div class="col-sm-9">
            <wysiwyg v-model="content"></wysiwyg>
            <input type="text" class="form-control" id="content" v-model="content" placeholder="Content">
            </div>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-3 pt-0">Status</legend>
              <div class="col-sm-9">
                <div class="form-check">
                <input class="form-check-input" type="radio" name="status" id="gridRadios1" value="published" checked>
                <label class="form-check-label" for="gridRadios1">
                  Published
                </label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="status" id="gridRadios2" value="draft">
                <label class="form-check-label" for="gridRadios2">
                  Draft
                </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <div class="col-sm-9">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div> -->

    <script src="//unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>